body {
    position: relative;
    overflow: hidden;
    font-family: arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    top: 0;
}

header {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    height: 40px;
    width: 100%;
}

a {
    text-decoration: none;
}

.text-bar {
    position: absolute;
    line-height: 40px;
    margin-right: 30px;
    bottom: 0;
    right: 0;
}

.head-bar-unit {
    position: relative;
    padding-left: 15px;
    top: 10px;
    color: #666;
    font-size: 13px;
}

.head-bar-unit:hover {
    text-decoration: underline;
    cursor: pointer;
}

.apps {
    position: relative;
    top: 10px;
    left: 15px;
    right: 15px;
    padding-right: 30px;
    opacity: 0.5;
    background-image: url(../img/apps.png);
    background-repeat: no-repeat;
}

#div-apps {
    position: absolute;
    display: none;
    margin-top: 20px;
    margin-bottom: 0;
    left: -105px;
    height: 496px;
    width: 345px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    z-index: 1;
}

.apps:hover {
    cursor: pointer;
    opacity: 1;
}

.ul-apps {
    position: relative;
    padding: 28px;
    padding-right: 27px;
    margin-bottom: 0;
}

.li-apps {
    position: relative;
    text-align: center;
    display: inline-block;
    height: 89px;
    width: 86px;
    padding: 1px;
}

.li-apps:hover .a-apps {
    border: 1px solid #e5e5e5;
    margin-left: -1px;
    margin-top: -1px;
}

.a-apps {
    position: absolute;
    text-align: center;
    left: 0px;
    top: 0px;
    width: 84px;
    height: 84px;
}

.apps-txt {
    position: absolute;
    display: block;
    bottom: 0px;
    font-size: 12px;
    line-height: 1.5;
    color: black;
    width: 70px;
}

.li-apps:hover {
    cursor: pointer;
}

#apps-yet {
    left: 0;
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 345px;
    font-size: 13px;
    text-align: center;
    color: #737373;
    background-color: #f5f5f5;
}

#apps-others {
    left: 0;
    display: none;
    bottom: 0;
    height: 40px;
    width: 340px;
    font-size: 13px;
    text-align: center;
    color: #737373;
}

#apps-others:hover {
    text-decoration: underline;
    cursor: pointer;
}

#apps-yet:hover {
    text-decoration: underline;
    cursor: pointer;
}

#div-yet-apps {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    display: none;
}

.apps-img {
    display: inline-block;
    text-align: center;
    height: 64px;
    width: 64px;
    background-image: url(../img/li_apps.png);
    background-repeat: no-repeat;
}

#account {
    background-position: 0 -345px
}

#searchApp {
    background-position: 0 -483px
}

#maps {
    background-position: 0 -1587px
}

#youtube {
    background-position: 0 -2139px
}

#google-play {
    background-position: 0 -2277px
}

#email {
    background-position: 0 -207px
}

#drive {
    background-position: 0 -1863px
}

#calendar {
    background-position: 0 -621px
}

#google-plus {
    background-position: 0 -414px
}

#google-translate {
    background-position: 0 -1932px
}

#google-photo {
    background-position: 0 -1311px
}

#docs {
    background-position: 0 -1794px
}

#blogger {
    background-position: 0 -552px
}

#contacts {
    background-position: 0 -1449px
}

#hangouts {
    background-position: 0 -138px
}

#google-keep {
    background-image: url(../img/googlekeep.png);
}

#earth {
    background-position: 0 -966px
}

.login {
    position: relative;
    top: 10px;
    border: 1px solid #4285f4;
    color: white;
    margin-left: 15px;
    padding: 6px 14px;
    background-color: #4387fd;
    font-weight: bold;
    font-size: 13px;
    border-radius: 4px;
}

.login:active {
    cursor: default;
    background-color: #3c7ae4;
}

.login:hover {
    cursor: default;
}

.content {
    text-align: center;
    margin: 0;
    padding-top: 13%;
}

#search {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    width: 40%;
    height: 45px;
}

.search-field {
    position: absolute;
    display: inline-block;
    padding-left: 0px;
    width: 100%;
    height: 45px;
    left: 4px;
    top: 4px;
    text-align: center;
    border: 0;
}

#text-field {
    position: absolute;
    width: 80%;
    height: 35px;
    left: 10px;
    border: 0;
    font-size: 16px;
}

#text-field:focus {
    border: none;
    outline: none;
}

#buttons {
    position: absolute;
    right: 30px;
    display: inline-block;
    height: 45px;
}

#keyboard {
    position: relative;
    top: 18px;
    left: 15px;
    opacity: 0.5;
    right: 15px;
    padding-right: 30px;
    background-image: url(../img/keyboard.png);
    background-repeat: no-repeat;
}

#keyboard:hover {
    cursor: pointer;
    opacity: 1;
}

#keyboard:hover::after {
    position: absolute;
    content: "Экранная клавиатура";
    z-index: 1;
    margin-top: 35px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    left: -55px;
    color: white;
    background: black;
    font-weight: bold;
    border: 2px solid black;
}

#microphone {
    position: relative;
    top: 10px;
    left: 15px;
    right: 15px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-image: url(../img/micro.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

#microphone:hover {
    cursor: pointer;
}

#microphone:hover::after {
    position: absolute;
    content: "Голосовой поиск";
    z-index: 1;
    margin-top: 43px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    left: -55px;
    color: white;
    background: black;
    font-weight: bold;
    border: 2px solid black;
}

.btn-main {
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    font-weight: bold;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
}

.btn-main:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
}

footer {
    position: absolute;
    margin: 0;
    height: 80px;
    width: 100%;
    bottom: 0;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

.by {
    line-height: 40px;
    height: 40px;
    font-size: 15px;
    padding-left: 27px;
    color: #666;
}

#left-bar {
    left: 0;
}

.fbar {
    border-bottom: 1px solid #e4e4e4;
}

#settings {
    position: absolute;
    display: none;
    padding-top: 20px;
    margin-bottom: 0;
    right: 0;
    top: -235px;
    height: 220px;
    width: 180px;
    background-color: white;
    border: 1px solid #6b6e68;
    z-index: 2;
}
.a-settings
{
    display: block;
    color: #9c9c9c;
    line-height: 40px;
    padding-left: 25px;
    text-decoration: none;
    white-space: nowrap;
    font-size: 10pt;
}
.a-settings:hover
{
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
.footer-text {
    position: relative;
    padding-left: 27px;
    color: #666;
    font-size: 13px;
}

.footer-text:hover {
    text-decoration: underline;
    cursor: pointer;
}
